
//@theme "~/.local/share/rofi/themes/spotlight.rasi"

@theme "~/.local/share/rofi/themes/spotlight.rasi"

@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
@theme "~/.local/share/rofi/themes/spotlight.rasi"
